body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  margin: 0;
  overflow-x: hidden; /* Remove horizontal scroll */
  user-select: none;
  font-family: 'Courier New', Courier, monospace;
}

.title {
  background-color: #000;
  color: #fff;
  padding: 20px;
  font-size: 3.5em;
  font-weight: bold;
  text-align: center;
  user-select: none;
}

.caption {
  color: #555;
  font-size: 1.5em;
  margin-top: 10px;
  text-align: center;
  user-select: none;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  flex-wrap: nowrap;
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% 50%;
}

.footer {
  position: fixed; 
  bottom: 0; 
  width: 100%;
  text-align: center;
  background-color: black;
  color: white; 
  padding: 10px 0;
  font-size: 1em;
}

.footer p {
  font-weight: bold;
}

iframe {
  position: relative; /* Change to relative for scrolling */
  margin-top: 100vh; /* Moves the video further down the page */
  width: 80%; /* Make the video smaller */
  height: 700px; /* Adjust the height of the video */
  margin-left: 10%; /* Center the video horizontally */
  border: none;
}
